body {
    background-color: rgb(89, 208, 208);
}

h1 {
    background-color: lightblue;
    text-align: center;
    padding: 30px;
    margin: 10px;
}

ul {
    background-color: turquoise;
    margin: 10px;
    padding: 10px;
}

li {
    display: inline;
    margin: 10px;
}